code,
samp {
	font-family: var(--font-monospace);
	font-size: 1.6rem;
	line-height: 2.2rem;
	overflow-x: auto;
	padding: 0.25rem;
	color: var(--primary-2);
	border-radius: 0.5rem;
	background: var(--background-2);
}

samp:before {
	content: "~$ ";
	color: var(--primary-3);
}

kbd {
	font-family: var(--font-monospace);
	font-size: 1.6rem;
	line-height: 1.6rem;
	padding: 0.25rem;
	cursor: help;
	text-transform: uppercase;
	color: var(--color-strong);
	border-radius: 0.5rem;
	background: var(--background-1);
}

pre {
	font-family: var(--font-monospace);
	font-size: 1.6rem;
	line-height: 2.2rem;
	overflow-x: auto;
	padding: 0.5rem;
	color: var(--primary-2);
	border-radius: 0.5rem;
	background: var(--background-2);
}

var {
	font-family: var(--font-monospace);
	font-style: italic;
	color: var(--primary-2);
}

footer {
	font-size: 1.2rem;
	line-height: initial;
	margin-top: 50px;
	padding-top: 8px;
	text-align: center;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: var(--primary-2);
	border-top: 2px solid var(--accent-2);
}

footer a {
	transform-origin: 0 -10px;
}

footer a:before {
	transform-origin: 0 11px;
}

footer a:after {
	bottom: 0;
	border: 5.5px solid transparent;
}

@media (prefers-reduced-motion: no-preference) {
	footer a:hover:before {
		transition: 100ms ease-out;
		transform: scaleY(0.25);
		background: var(--accent-2);
	}

	footer a:after {
		right: -7.75px;
		transition: transform 50ms ease-out 100ms;
		transform: none;
	}
}

@media (--breakpoint-mobile) {
	footer a:before {
		transform-origin: 0 9px;
	}

	footer a:after {
		bottom: -1px;
		border: 4px solid transparent;
	}

	footer a:hover:after {
		right: -6px;
	}
}

ul {
	margin: 5px 0 15px;
	padding: 0;
}

ul > li {
	position: relative;
	padding: 0 0 0 20px;
	list-style: none;
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8em;
	color: var(--primary-2);
}

ul > li:before {
	position: absolute;
	top: 14px;
	left: 0;
	width: 5px;
	height: 5px;
	content: "";
	transform: rotate(45deg);
	border: 1px solid var(--accent-2);
	border-width: 2px 2px 0 0;
}

@media (--breakpoint-mobile) {
	ul > li:before {
		top: 8px;
	}
}

ul input ~ li:before {
	list-style-type: none;
}

ul input[type="checkbox"] {
	font: inherit;
	display: inline-grid;
	width: 20px;
	height: 20px;
	margin: 0;
	margin-right: 10px;
	color: var(--background-3);
	border: 2px solid var(--primary-2);
	background: var(--background-3);
	appearance: none;
	place-content: center;
	cursor: pointer;
}

ul input[type="checkbox"] {
	border-radius: 25%;
}

ul input[type="checkbox"]:before {
	width: 12px;
	height: 12px;
	content: "";
	transition: 120ms transform ease-in-out;
	transform: scale(0);
	box-shadow: inset 10px 10px var(--accent-2);
	cursor: pointer;
}

ul input[type="checkbox"]:before {
	border-radius: 25%;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

ul input[type="checkbox"]:checked:before {
	transform: scale(1);
}

ul input[type="checkbox"]:disabled {
	border-color: var(--background-1);
	background-color: var(--background-3);
}

ul input[type="checkbox"]:disabled + label {
	color: var(--primary-3);
	cursor: not-allowed;
}

@media (--breakpoint-mobile) {
	ul input[type="checkbox"] {
		width: 15px;
		height: 15px;
		transform: translateY(3px);
	}

	ul input[type="checkbox"]:before {
		width: 10px;
		height: 10px;
	}
}

ol {
	margin: 5px 0 15px;
	padding: 0;
	counter-reset: item;
}

ol > li {
	position: relative;
	padding: 0 0 0 20px;
	list-style: none;
	counter-increment: item;
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8em;
	color: var(--primary-2);
}

ol > li:before {
	font-family: var(--font-body);
	font-size: 1.6rem;
	position: absolute;
	top: 0;
	left: -4px;
	width: 5px;
	height: 5px;
	content: counter(item) ")";
	color: var(--accent-2);
}

dl {
	margin: 5px 0 15px;
	padding: 0;
}

dl > dt {
	position: relative;
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8em;
	color: var(--primary-2);
}

dl > dd {
	position: relative;
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8em;
	color: var(--primary-2);
	margin-top: -20px;
	margin-inline-start: 30px;
}

@media (--breakpoint-mobile) {
	ol > li:before {
		left: 0;
	}

	dl > dd {
		margin-top: -15px;
		margin-inline-start: 20px;
	}
}

address {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-style: normal;
	margin: -5px 0 -5px 0;
}

address a {
	font-size: 1.6rem;
	line-height: 2rem;
	margin: 5px 0 5px 0;
}

address a:before,
address a:hover:before,
address a:active:before,
address a:focus-visible:before {
	border: none;
	background: none;
	transform: none;
}

address a:hover:before,
address a:active:before,
address a:focus-visible:before {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

address a:after {
	border: none;
}

address a[href^="mailto\:"]:before {
	content: "📧 ";
	display: inline-block;
	position: relative;
	transform-origin: center;
	width: 25px;
	margin-right: 5px;
	text-decoration: none;
}

address a[href^="tel\:"]:before {
	content: "📞 ";
	display: inline-block;
	position: relative;
	transform-origin: center;
	width: 25px;
	margin-right: 5px;
	text-decoration: none;
}

address a[href^="sms\:"]:before {
	content: "💬 ";
	display: inline-block;
	position: relative;
	transform-origin: center;
	width: 25px;
	margin-right: 5px;
	text-decoration: none;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateY(-9px);
	}
	35% {
		transform: translateY(-9px) rotate(17deg);
	}
	55% {
		transform: translateY(-9px) rotate(-17deg);
	}
	65% {
		transform: translateY(-9px) rotate(17deg);
	}
	75% {
		transform: translateY(-9px) rotate(-17deg);
	}
	100% {
		transform: translateY(0) rotate(0);
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background-color: var(--background-3);
	transition: all 0.44s ease;
	overflow-x: hidden;
}

html,
body {
	font-family: var(--font-display);
	font-size: 70%;
	line-height: 70%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

body {
	height: fit-content;
	margin: 40px auto 0;
	max-width: 700px;
	padding: 20px;
}

p:target {
	padding-left: 5px;
	background-color: var(--background-1);
}

::selection {
	background-color: var(--selection-color);
}

::-webkit-scrollbar {
	width: 7.5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 0.5rem;
	background: var(--background-1);
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background: var(--primary-3);
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 0.5rem;
	background: var(--primary-2);
}

@media (--breakpoint-mobile) {
	html,
	body {
		font-size: 50%;
	}
}

flex-break {
	width: 0;
	flex-basis: 100%;
}

hr {
	border: 2px solid var(--background-2);
}

.theme-toggle-btn {
	background: none;
	border: none;
	height: 75px;
	width: 75px;
	min-width: 75px;
	margin: 0;
	padding: 0;
	position: fixed;
	margin-left: -275px;
	font-size: 2.4rem;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
}

.theme-toggle-btn:hover {
	width: 75px;
}

@media (--breakpoint-mobile-outer) {
	.theme-toggle-btn {
		font-size: 2.4rem;
		top: initial;
		margin: 0;
		margin-bottom: 10px;
		position: relative;
		float: right;
		width: 48px;
		height: 48px;
		min-width: 48px;
		font-size: 1.6rem;
	}

	.theme-toggle-btn:hover {
		width: 48px;
		height: 48px;
		min-width: 48px;
	}
}

nav {
	margin-top: -10px;
	width: 250px;
	position: fixed;
	margin-left: -275px;
	top: 200px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-right: 10px;
}

nav button {
	position: fixed;
	z-index: 20;
	padding: 20px 20px 5px 20px;
	margin: -20px;
}

nav header {
	content: "Navigation:";
	flex-basis: 100%;
	color: var(--accent-2);
	font: var(--font-display);
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 4rem;
	text-align: right;
	position: fixed;
	z-index: 10;
	padding: 20px 20px 5px 20px;
	margin: 0;
}

nav a {
	background: none;
	border: none;
	padding: 0;
	margin: 2px 10px;
	color: var(--primary-3);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--primary-3);
	transition: color 0.1s ease;
	transition: text-decoration-color 0.1s ease;
}

nav a:hover:before,
nav a:active:before,
nav a:focus-visible:before {
	background: none;
	border: none;
	text-decoration-color: var(--accent-2);
}

nav a:hover:after,
nav a:active:after,
nav a:focus-visible:after {
	bottom: 5px;
}

nav ul {
	display: flex;
	align-content: flex-end;
	justify-content: flex-end;
	flex-wrap: wrap;
	flex-direction: column;
	width: initial;
	margin-top: 65px;
}

nav ul > li {
	list-style: none;
	padding: 0;
	text-align: right;
}

nav ul > li:before {
	content: none;
}

@media (--breakpoint-mobile-outer) {
	nav {
		width: 100%;
		position: relative;
		margin: 0;
		top: initial;
	}

	nav ul {
		flex-direction: column;
		width: auto;
		align-content: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-top: 10px;
		max-height: 80px;
	}

	nav header {
		margin: 0;
		padding: 0;
		position: relative;
		width: min-content;
	}

	nav ul > li {
		text-align: left;
	}
}

nav::-webkit-scrollbar {
	width: 3px;
}

/* Headings */

h1 {
	font-size: 6rem;
	line-height: 6rem;
	display: table;
	margin: 0;
	margin-top: 5rem;
	margin-bottom: 1.5rem;
	padding: 10px 20px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
	background: linear-gradient(
	120deg,
	var(--highlight-color) 0%,
	var(--highlight-color) 100%
	);
	background-repeat: no-repeat;
	background-position: 0 30%;
	background-size: 100% 65%;
}

h2 {
	font-size: 5rem;
	line-height: 5rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 8.75px 17.5px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
	background: linear-gradient(
	120deg,
	var(--highlight-color) 0%,
	var(--highlight-color) 100%
	);
	background-repeat: no-repeat;
	background-position: 0 30%;
	background-size: 100% 65%;
}

h3 {
	font-size: 4rem;
	line-height: 4rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 7.5px 15px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
	background: linear-gradient(
	120deg,
	var(--highlight-color) 0%,
	var(--highlight-color) 100%
	);
	background-repeat: no-repeat;
	background-position: 0 30%;
	background-size: 100% 65%;
}

h4 {
	font-size: 3rem;
	line-height: 3rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 9px 13.25px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
	background: linear-gradient(
	120deg,
	var(--highlight-color) 0%,
	var(--highlight-color) 100%
	);
	background-repeat: no-repeat;
	background-position: 0 30%;
	background-size: 100% 65%;
}

h5 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 9px 13.25px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
}

h6 {
	font-size: 2rem;
	line-height: 2rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 9px 13.25px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
}

/* Paragraph Text */

p {
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.88rem;
	color: var(--primary-2);
}

strong {
	font-weight: 700;
	color: var(--accent-2);
}

b {
	font-weight: 700;
}

em {
	font-weight: 300;
	font-style: italic;
	color: var(--accent-1);
}

i {
	font-weight: 300;
	font-style: italic;
}

u {
	text-decoration-color: var(--accent-3);
}

s {
	color: var(--primary-3);
}

s:before,
s:after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

s:before {
	content: " [start of stricken text] ";
}

s:after {
	content: " [end of stricken text] ";
}

del {
	color: var(--primary-3);
}

del:before,
del:after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

del:before {
	content: " [deletion start] ";
}

del:after {
	content: " [deletion end] ";
}

ins {
	text-decoration-style: wavy;
	text-decoration-color: var(--accent-3);
}

ins:before,
ins:after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

ins:before {
	content: " [insertion start] ";
}

ins:after {
	content: " [insertion end] ";
}

mark {
	color: var(--primary-1);
	background: var(--marked-color);
	padding: 2px;
}

small {
	color: var(--primary-3);
	line-height: 1.6rem;
}

abbr {
	cursor: help;
	text-decoration: underline;
	text-decoration-color: var(--accent-3) !important;
	text-decoration-style: dotted !important;
}

dfn {
	cursor: help;
}

a,
a:before,
a:after {
	background: none;
	border: none;
	padding: 0;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--primary-2);
	transition: text-decoration-color 0.1s ease;
	color: var(--primary-2);
}

a:hover,
a:hover:before,
a:hover:after {
	background: none;
	border: none;
	text-decoration-color: var(--accent-2);
}

sup a {
	color: var(--primary-2);
}

sup a:hover,
sup a:active,
sup a:focus-visible {
	color: var(--primary-1);
	cursor: pointer;
}

sup a:before {
	background: none;
	border: none;
}

sup a:hover:before {
	background: none;
	border: none;
}

sup a:after {
	background: none;
	border: none;
}

sup a:hover:after {
	background: none;
	border: none;
}

blockquote {
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8em;
	margin: 0;
	padding: 1.25px 0 1.25px 10px;
	color: var(--primary-2);
	border-left: 8px solid var(--accent-2);
}

blockquote p {
	margin: 2.5px 0;
}

blockquote footer {
	font-size: 1.4rem;
	font-style: none;
	line-height: 1.4rem;
	margin: 20px 0 20px 0;
	text-align: left;
	letter-spacing: 0;
	text-transform: none;
	color: var(--primary-3);
	border: none;
}

aside {
	height: 0;
	margin: 0;
	padding: 0;
	left: 110%;
	position: relative;
	width: 60%;
	top: 15px;
}

@media (--breakpoint-mobile-outer) {
	aside {
		top: 0;
		left: 0;
		height: auto;
		width: 100%;
		padding: 1.25px 0 1.25px 75px;
		text-align: right;
	}
}

section {
	background-color: var(--background-2);
	color: var(--primary-2);
	padding: 10px;
	margin: 20px 0 20px 0;
	border-radius: 5px;
}

section header {
	font-size: 2.6rem;
	line-height: 2.8rem;
	margin-top: 1rem;
	font-weight: 700;
	color: var(--accent-2);
}
