code,
samp {
	font-family: var(--font-monospace);
	font-size: 1.6rem;
	line-height: 2.2rem;
	overflow-x: auto;
	padding: 0.25rem;
	color: var(--primary-2);
	border-radius: 0.5rem;
	background: var(--background-2);
}

samp:before {
	content: "~$ ";
	color: var(--primary-3);
}

kbd {
	font-family: var(--font-monospace);
	font-size: 1.6rem;
	line-height: 1.6rem;
	padding: 0.25rem;
	cursor: help;
	text-transform: uppercase;
	color: var(--color-strong);
	border-radius: 0.5rem;
	background: var(--background-1);
}

pre {
	font-family: var(--font-monospace);
	font-size: 1.6rem;
	line-height: 2.2rem;
	overflow-x: auto;
	padding: 0.5rem;
	color: var(--primary-2);
	border-radius: 0.5rem;
	background: var(--background-2);
}

var {
	font-family: var(--font-monospace);
	font-style: italic;
	color: var(--primary-2);
}
