footer {
	font-size: 1.2rem;
	line-height: initial;
	margin-top: 50px;
	padding-top: 8px;
	text-align: center;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	color: var(--primary-2);
	border-top: 2px solid var(--accent-2);
}

footer a {
	transform-origin: 0 -10px;
}

footer a:before {
	transform-origin: 0 15px;
}

footer a:after {
	bottom: -3px;
	border: 5.5px solid transparent;
}

@media (prefers-reduced-motion: no-preference) {
	footer a:hover:before {
		transition: 100ms ease-out;
		transform: scaleY(0.25);
		background: var(--accent-2);
	}

	footer a:after {
		right: -7.75px;
		transition: transform 50ms ease-out 100ms;
		transform: none;
	}
}

@media (--breakpoint-mobile) {
	footer a:before {
		transform-origin: 0 9px;
	}

	footer a:after {
		bottom: -1px;
		border: 4px solid transparent;
	}

	footer a:hover:after {
		right: -6px;
	}
}
