form {
	display: flex;
	width: 100%;
	min-height: 50px;
	margin: 25px auto 50px auto;
	padding: 10px 0;
	align-content: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

form header {
	background: linear-gradient(
	120deg,
	var(--highlight-color) 0,
	var(--highlight-color) 100%
	);
	background-position: 0 42.5%;
	background-repeat: no-repeat;
	background-size: 100% 25%;
	color: var(--primary-2);
	display: table;
	font-family: var(--font-display);
	font-size: 3rem;
	font-weight: 700;
	line-height: 3em;
	padding: 0 5px;
	z-index: 20;
	margin-bottom: -40px;
}

@media (--breakpoint-mobile) {
	form header {
		margin-bottom: -25px;
	}
}

form p {
	margin-left: 10px;
}

form fieldset {
	display: flex;
	border: none;
	margin-bottom: 20px;
	flex-basis: 100%;
	align-content: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

form fieldset legend {
	font-family: var(--font-display);
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.4rem;
	z-index: 20;
	display: table;
	margin-left: 10px;
	padding: 0 5px;
	color: var(--primary-2);
}

form label {
	font-family: var(--font-display);
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.2em;
	z-index: 20;
	display: inline-block;
	margin-left: 10px;
	padding: 0 5px;
	color: var(--primary-1);
}

form label + input {
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.5em;
	z-index: 10;
	display: block;
	width: 100%;
	margin-top: -25px;
	margin-bottom: 20px;
	padding: 0.5rem 1rem;
	color: var(--primary-2);
	border: none;
	border-radius: 0.5rem;
	outline: none;
	background: var(--background-2);
}

form label + textarea {
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.5em;
	z-index: 10;
	display: block;
	width: 100%;
	margin-top: -25px;
	margin-bottom: 20px;
	padding: 0.5rem 1rem;
	color: var(--primary-2);
	border: none;
	border-radius: 0.5rem;
	outline: none;
	background: var(--background-2);
	flex-basis: 100%;
}

form input:hover,
form input:active,
form input:focus-visible,
form textarea:hover,
form textarea:active,
form textarea:focus-visible {
	background: var(--background-1);
}

form input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 35px var(--background-2) inset !important;
	-webkit-text-fill-color: var(--primary-2) !important;
}

form input:-webkit-autofill:hover,
form input:-webkit-autofill:active,
form input:-webkit-autofill:focus-visible {
	-webkit-box-shadow: 0 0 0 35px var(--background-1) inset !important;
	-webkit-text-fill-color: var(--primary-2) !important;
}

form label[disabled] {
	color: var(--primary-3);
	background-color: var(--background-3);
	cursor: not-allowed;
}

form input:disabled {
	background-color: var(--background-3);
	border: 2px solid var(--background-2);
	cursor: not-allowed;
}

form input[type="button"] {
	background: var(--background-2);
	border: none;
	border-radius: 0.5rem;
	color: var(--primary-2);
	cursor: pointer;
	display: block;
	font-family: var(--font-display);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.5em;
	margin: 5px 5px 19px;
	min-width: 125px;
	outline: none;
	padding: 0.5rem 1rem;
	z-index: 10;
}

form input[type="button"]:hover,
form input[type="button"]:active,
form input[type="button"]:focus-visible {
	background-color: var(--background-1);
}

form input[type="button"]:disabled:hover {
	background-color: var(--background-2);
}

form input[type="button"]:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

form input[type="submit"] {
	background: var(--background-2);
	border: none;
	border-radius: 0.5rem;
	color: var(--primary-2);
	cursor: pointer;
	display: block;
	flex-grow: 1;
	font-family: var(--font-display);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.5em;
	margin: 5px 5px 19px;
	outline: none;
	padding: 0.5rem 1rem;
	z-index: 10;
}

form input[type="submit"]:hover,
form input[type="submit"]:active,
form input[type="submit"]:focus-visible {
	background-color: var(--background-1);
}

form input[type="submit"]:disabled:hover {
	background-color: var(--background-2);
}

form input[type="submit"]:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

form input[type="reset"] {
	background: var(--background-2);
	border: none;
	border-radius: 0.5rem;
	color: var(--primary-2);
	cursor: pointer;
	display: block;
	flex-grow: 1;
	font-family: var(--font-display);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.5em;
	margin: 5px 5px 19px;
	outline: none;
	padding: 0.5rem 1rem;
	z-index: 10;
}

form input[type="reset"]:hover,
form input[type="reset"]:active,
form input[type="reset"]:focus-visible {
	background-color: var(--background-1);
}

form input[type="reset"]:disabled:hover {
	background-color: var(--background-2);
}

form input[type="reset"]:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

form input[type="checkbox"],
form input[type="radio"] {
	font: inherit;
	display: grid;
	width: 20px;
	height: 20px;
	margin: 0;
	transform: translateY(6.5px);
	color: var(--background-3);
	border: 2px solid var(--primary-2);
	background: var(--background-3);
	appearance: none;
	place-content: center;
	cursor: pointer;
}

form input[type="checkbox"] {
	border-radius: 25%;
}

form input[type="radio"] {
	border-radius: 50%;
}

form input[type="checkbox"]:before,
form input[type="radio"]:before {
	width: 12px;
	height: 12px;
	content: "";
	transition: 120ms transform ease-in-out;
	transform: scale(0);
	box-shadow: inset 10px 10px var(--accent-2);
	cursor: pointer;
}

form input[type="checkbox"]:before {
	border-radius: 25%;
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

form input[type="radio"]:before {
	border-radius: 50%;
}

form input[type="checkbox"]:checked:before,
form input[type="radio"]:checked:before {
	transform: scale(1);
}

form input[type="checkbox"]:disabled,
form input[type="radio"]:disabled {
	border-color: var(--background-1);
	background-color: var(--background-3);
}

form input[type="checkbox"] + label,
form input[type="radio"] + label {
	font-family: var(--font-display);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6em;
	z-index: 20;
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	color: var(--primary-1);
	cursor: pointer;
}

form input[type="checkbox"]:disabled + label,
form input[type="radio"]:disabled + label {
	color: var(--primary-3);
	cursor: not-allowed;
}

@media (--breakpoint-mobile) {
	form {
		width: 100%;
	}

	form label + input {
		margin-top: -16px;
	}

	form label + textarea {
		margin-top: -16px;
	}

	form input[type="checkbox"],
	form input[type="radio"] {
		width: 15px;
		height: 15px;
		transform: translateY(3px);
	}

	form input[type="checkbox"]:before,
	form input[type="radio"]:before {
		width: 10px;
		height: 10px;
	}
}

form input[type="date"],
form input[type="datetime-local"],
form input[type="month"],
form input[type="time"],
form input[type="week"] {
	cursor: text;
}

form input::-webkit-calendar-picker-indicator {
	border-radius: 4px;
	cursor: pointer;
	margin-right: 2px;
	filter: var(--date-icon-filter);
	opacity: 0.8;
}

form input::-webkit-calendar-picker-indicator:hover {
	opacity: 1;
}

form input[type="number"]::-webkit-outer-spin-button,
form input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form input[type="number"] {
	-moz-appearance: textfield;
}

form input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	width: 75%;
	height: 36px;
	margin: auto;
	padding: 0;
}

form input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
	width: 80%;
	height: 24px;
	cursor: pointer;
	background: var(--background-2);
	border-radius: 100px;
}

form input[type="range"]::-webkit-slider-thumb {
	height: 36px;
	width: 36px;
	border-radius: 50%;
	background: var(--background-1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6px;
}

form input[type="range"]:hover::-webkit-slider-thumb {
	background: var(--accent-1);
	margin-top: -6px;
}

form input[type="range"]:active::-webkit-slider-thumb,
form input[type="range"]:focus-visible::-webkit-slider-thumb {
	background: var(--accent-2);
	margin-top: -6px;
}

form input[type="range"]::-moz-range-track {
	width: 80%;
	height: 24px;
	cursor: pointer;
	background: var(--background-2);
	border-radius: 100px;
}

form input[type="range"]::-moz-range-thumb {
	height: 36px;
	width: 36px;
	border: none;
	border-radius: 50%;
	background: var(--background-1);
	cursor: pointer;
	-webkit-appearance: none;
}

form input[type="range"]:hover::-moz-range-thumb {
	background: var(--primary-3);
}

form input[type="range"]:active::-moz-range-thumb,
form input[type="range"]:focus-visible::-moz-range-thumb {
	background: var(--primary-1);
}

form input[type="range"]::-ms-track {
	width: 80%;
	height: 24px;
	cursor: pointer;
	background: var(--background-2);
	border-radius: 100px;
}

form input[type="range"]::-ms-fill-lower {
	background: var(--background-2);
}

form input[type="range"]::-ms-fill-upper {
	background: var(--background-2);
}

form input[type="range"]::-ms-thumb {
	height: 36px;
	width: 36px;
	border: none;
	border-radius: 50%;
	background: var(--primary-2);
	cursor: pointer;
	-webkit-appearance: none;
}

form input[type="range"]:hover::-ms-thumb {
	background: var(--primary-3);
}

form input[type="range"]:active::-ms-thumb,
form input[type="range"]:focus-visible::-ms-thumb {
	background: var(--primary-1);
}

@media (--breakpoint-mobile) {
	form input[type="range"] {
		width: 60%;
		height: 30px;
	}

	form input[type="range"]::-webkit-slider-runnable-track {
		height: 18px;
	}

	form input[type="range"]::-webkit-slider-thumb {
		height: 24px;
		width: 24px;
		margin-top: -3px;
	}

	form input[type="range"]:hover::-webkit-slider-thumb {
		margin-top: -3px;
	}

	form input[type="range"]:active::-webkit-slider-thumb,
	form input[type="range"]:focus-visible::-webkit-slider-thumb {
		margin-top: -3px;
	}

	form input[type="range"]::-moz-range-track {
		height: 18px;
	}

	form input[type="range"]::-ms-track {
		height: 18px;
	}
}

form input[type="file"] {
	cursor: pointer;
}

form input[type="file"]::-webkit-file-upload-button {
	width: 0;
	padding: 0;
	display: none;
}

form input[type="file"]::file-selector-button {
	width: 0;
	padding: 0;
	display: none;
}

form input[type="file"]::-ms-browse {
	width: 0;
	padding: 0;
	display: none;
}

button {
	background: var(--accent-2);
	border: none;
	border-radius: 0.5rem;
	color: var(--primary-2);
	cursor: pointer;
	display: block;
	font-family: var(--font-display);
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.5em;
	margin: 5px 5px 19px;
	min-width: 125px;
	outline: none;
	padding: 0.5rem 1rem;
	z-index: 10;
}

button:active,
button:hover,
button:focus-visible {
	background-color: var(--accent-1);
}

button:disabled:hover {
	background-color: var(--accent-2);
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

form label + select {
	appearance: none;
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.5em;
	z-index: 10;
	width: 100%;
	margin-top: -25px;
	margin-bottom: 20px;
	padding: 0.5rem 1rem;
	color: var(--primary-2);
	border: none;
	border-radius: 0.5rem;
	outline: none;
	background: var(--background-2);
	display: grid;
	grid-template-areas: "select";
	cursor: pointer;
}

form select::-ms-expand {
	display: none;
}

form select:hover,
form select:active,
form select:focus-visible {
	background: var(--background-1);
}

form select::-webkit-autofill {
	-webkit-box-shadow: 0 0 0 35px var(--background-2) inset !important;
	-webkit-text-fill-color: var(--primary-2) !important;
}

form select:hover::-webkit-autofill,
form select:active::-webkit-autofill,
form select:focus-visible::-webkit-autofill {
	-webkit-box-shadow: 0 0 0 35px var(--background-1) inset !important;
	-webkit-text-fill-color: var(--primary-2) !important;
}

form select:disabled {
	background-color: var(--background-3);
	border: 2px solid var(--background-2);
	cursor: not-allowed;
}

@media (--breakpoint-mobile) {
	form label + select {
		margin-top: -16px;
	}
}
