*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	background-color: var(--background-3);
	transition: all 0.44s ease;
	overflow-x: hidden;
}

html,
body {
	font-family: var(--font-display);
	font-size: 70%;
	line-height: 70%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

body {
	height: fit-content;
	margin: 40px auto 0;
	max-width: 700px;
	padding: 20px;
}

p:target {
	padding-left: 5px;
	background-color: var(--background-1);
}

::selection {
	background-color: var(--selection-color);
}

::-webkit-scrollbar {
	width: 7.5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 0.5rem;
	background: var(--background-1);
}

::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	background: var(--primary-3);
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 0.5rem;
	background: var(--primary-2);
}

@media (--breakpoint-mobile) {
	html,
	body {
		font-size: 50%;
	}
}
