flex-break {
	width: 0;
	flex-basis: 100%;
}

hr {
	border: 2px solid var(--background-2);
}

.theme-toggle-btn {
	background: none;
	border: none;
	height: 75px;
	width: 75px;
	min-width: 75px;
	margin: 0;
	padding: 0;
	position: fixed;
	margin-left: -275px;
	font-size: 2.4rem;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
}

.theme-toggle-btn:hover {
	width: 75px;
}

@media (--breakpoint-mobile-outer) {
	.theme-toggle-btn {
		font-size: 2.4rem;
		top: initial;
		margin: 0;
		margin-bottom: 10px;
		position: relative;
		float: right;
		width: 48px;
		height: 48px;
		min-width: 48px;
	}

	.theme-toggle-btn:hover {
		width: 48px;
		height: 48px;
		min-width: 48px;
	}
}
