/* Headings */

h1 {
	font-size: 6rem;
	line-height: 6rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 10px 20px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
	background: linear-gradient(
		120deg,
		var(--highlight-color) 0%,
		var(--highlight-color) 100%
	);
	background-repeat: no-repeat;
	background-position: 0 30%;
	background-size: 100% 65%;
}

h2 {
	font-size: 5rem;
	line-height: 5rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 8.75px 17.5px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
	background: linear-gradient(
		120deg,
		var(--highlight-color) 0%,
		var(--highlight-color) 100%
	);
	background-repeat: no-repeat;
	background-position: 0 30%;
	background-size: 100% 65%;
}

h3 {
	font-size: 4rem;
	line-height: 4rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 7.5px 15px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
	background: linear-gradient(
		120deg,
		var(--highlight-color) 0%,
		var(--highlight-color) 100%
	);
	background-repeat: no-repeat;
	background-position: 0 30%;
	background-size: 100% 65%;
}

h4 {
	font-size: 3rem;
	line-height: 3rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 9px 13.25px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
	background: linear-gradient(
		120deg,
		var(--highlight-color) 0%,
		var(--highlight-color) 100%
	);
	background-repeat: no-repeat;
	background-position: 0 30%;
	background-size: 100% 65%;
}

h5 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 9px 13.25px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
}

h6 {
	font-size: 2rem;
	line-height: 2rem;
	display: table;
	margin: 0;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;
	padding: 9px 13.25px 0 13.25px;
	letter-spacing: -1px;
	color: var(--primary-1);
}

/* Paragraph Text */

p {
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.88rem;
	color: var(--primary-2);
}

strong {
	font-weight: 700;
	color: var(--accent-2);
}

b {
	font-weight: 700;
}

em {
	font-weight: 300;
	font-style: italic;
	color: var(--accent-1);
}

i {
	font-weight: 300;
	font-style: italic;
}

u {
	text-decoration-color: var(--accent-3);
}

s {
	color: var(--primary-3);
}

s:before,
s:after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

s:before {
	content: ' [start of stricken text] ';
}

s:after {
	content: ' [end of stricken text] ';
}

del {
	color: var(--primary-3);
}

del:before,
del:after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

del:before {
	content: ' [deletion start] ';
}

del:after {
	content: ' [deletion end] ';
}

ins {
	text-decoration-style: wavy;
	text-decoration-color: var(--accent-3);
}

ins:before,
ins:after {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

ins:before {
	content: ' [insertion start] ';
}

ins:after {
	content: ' [insertion end] ';
}

mark {
	color: var(--primary-1);
	background: var(--marked-color);
	padding: 2px;
}

small {
	color: var(--primary-3);
	line-height: 1.6rem;
}

abbr {
	cursor: help;
	text-decoration: underline;
	text-decoration-color: var(--accent-3) !important;
	text-decoration-style: dotted !important;
}

dfn {
	cursor: help;
}

a {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0 4px;
	cursor: pointer;
	text-decoration: none;
	color: var(--primary-1);
}

blockquote {
	font-family: var(--font-body);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8em;
	margin: 0;
	padding: 1.25px 0 1.25px 10px;
	color: var(--primary-2);
	border-left: 8px solid var(--accent-2);
}

blockquote footer {
	font-size: 1.4rem;
	font-style: none;
	line-height: 1.4rem;
	margin: 20px 0 20px 0;
	text-align: left;
	letter-spacing: 0;
	text-transform: none;
	color: var(--primary-3);
	border: none;
}

aside {
	height: 0;
	margin: 0;
	padding: 0;
	left: 110%;
	position: relative;
	width: 60%;
	top: 15px;
}

@media (--breakpoint-mobile-outer) {
	aside {
		top: 0;
		left: 0;
		height: auto;
		width: 100%;
		padding: 1.25px 0 1.25px 75px;
		text-align: right;
	}
}

section {
	background-color: var(--background-2);
	color: var(--primary-2);
	padding: 10px;
	margin: 20px 0 20px 0;
	border-radius: 5px;
}

section header {
	font-size: 2.6rem;
	line-height: 2.8rem;
	margin-top: 1rem;
	font-weight: 700;
	color: var(--accent-2);
}
