:before,
:after,
:root {
	--primary-1: #14131e;
	--primary-2: #272639;
	--primary-3: #41405c;
	--accent-1: #63accb;
	--accent-2: #7ad3e9;
	--accent-3: #ace3f0;
	--background-1: #e3e3e3;
	--background-2: #f3f3f3;
	--background-3: #ffffff;
	--highlight-color: rgba(122, 211, 233, 0.8);
	--marked-color: rgba(227, 227, 227, 0.6);
	--selection-color: rgba(122, 211, 233, 0.2);
	--date-icon-filter: invert(73%) sepia(31%) saturate(593%) hue-rotate(158deg)
	brightness(82%) contrast(92%);
}
