:root {
	--font-display: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
		helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	--font-body: georgia, 'Times New Roman', times, serif;
	--font-monospace: monospace;
}
