:root {
	--font-display: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	--font-body: Georgia, "Times New Roman", Times, serif;
	--font-monospace: monospace;
}
