.hljs-attr,
.hljs-attribute,
.hljs-comment,
.hljs-property,
.hljs-quote,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag,
.hljs-symbol,
.hljs-tag {
	color: #585a81;
}.hljs-string {
	color: #6395a3;
}.hljs-built_in,
.hljs-builtin-name,
.hljs-meta,
.hljs-number,
.hljs-template-variable,
.hljs-variable {
	color: #4f7c8a;
}.hljs-keyword {
	color: #3c6372;
}.hljs-literal {
	color: #2c4c59;
}.class_,
.function_,
.hljs-bullet
.hljs-title,
.hljs-link,
.hljs-name,
.hljs-params,
.hljs-section,
.hljs-type {
	color: #d9d9d9;
}.hljs-emphasis {
	font-style: italic;
}.hljs-strong {
	font-weight: 700;
}.hljs {
	color: #4f7c8a;
	display: block;
	overflow-x: auto;
	padding: 0.5em;
}@media (prefers-color-scheme:light) {
	.class_,
	.function_,
	.hljs-bullet
	.hljs-title,
	.hljs-link,
	.hljs-name,
	.hljs-params,
	.hljs-section,
	.hljs-type {
		color: #585a81;
	}.hljs-attr,
	.hljs-attribute,
	.hljs-comment,
	.hljs-property,
	.hljs-quote,
	.hljs-regexp,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id,
	.hljs-selector-pseudo,
	.hljs-selector-tag,
	.hljs-symbol,
	.hljs-tag {
		color: #bfbfbf;
	}
}
